@{
    Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h3>@Html.DisplayFor(model => model.Name)</h3>
<hr>

@if(@Model.JoinEntities.Count == 0)
{
    <p>This engineer is not associated with any machines...</p>
}
else
{
    <h4>Certified Machines:</h4>
    <ul>
    @foreach(EngineerMachine join in Model.JoinEntities)
    {
        <li><strong>@join.Machine.Name</strong></li>
        @using (Html.BeginForm("DeleteJoin", "Machines"))
        {
            @Html.Hidden("joinId", @join.EngineerMachineId)
            <input type="submit" value="Delete"/>
        }
    }
    </ul>
}

  <a href='@Url.Action("AddMachine", new { id = Model.EngineerId })'>
    <button type="button">Assign a Machine</button>
  </a>

<a href='@Url.Action("Delete", new { id = Model.EngineerId })'>
    <button type="button">Delete Engineer</button>
</a>
<a href='@Url.Action("Edit", new { id = Model.EngineerId })'>
    <button type="button">Edit Engineer</button>
</a>